body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
table {
    background-color: #ffffff;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}


nav {
    margin: 20px 0;
    text-align:center;
}

a {
    margin: 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-align:center;
}

a:hover {
    color: #4CAF50;
}

